.head {
    transform: translateY(220%);
    margin-bottom: 90px;
    text-align: center;
    color: rgb(186, 183, 183);
    font-size: 45px;
    font-weight: 500;
    font-family: sans-serif;
    text-transform: uppercase;
}

.product-data {
    margin-top: 0;
    height: 73vh;
    display: flex;
    flex-wrap: nowrap;
}

.error {
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    color: red;
    background-color: #dcdcdc;
    border-radius: 5px;
    display: none;
}

#file-img {
    cursor: pointer;
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .3;
}

#file-img:hover {
    opacity: 1;
}

.image {
    position: relative;
    width: 50%;
    height: 80%;
    margin-right: 90px;
}

.image .img-upload {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.image label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-transform: capitalize;
    color: white;
}

.data {
    filter: grayscale(1);
}

.data button {
    pointer-events: none;
}

*[contenteditable="true"] {
    outline: none;
    border: 1px solid #ddd;
    padding: 25px;
    width: 600px;
    height: 80px;
}

.prodName {
    font-size: 35px;
}

.data p,
.details p {
    overflow: hidden;
}

.data span {
    border: none;
}

.details {
    margin-top: 150px;
}

.details p {
    height: 200px !important;
    width: 100% !important;
    margin-bottom: 30px;
    border: 1px solid #9c9b9b;
}

.details .p {
    margin-bottom: 30px;
    height: 0 !important;
    border: none;
    overflow: visible !important;
}

.tags p {
    margin-bottom: 30px;
}

.btn {
    margin-left: 35%;
}

button {
    padding: 10px 40px;
    margin: 30px 5px;
    outline: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.add-prod {
    background-color: #d5be8b;
}

.save {
    background-color: #9c9b9b;
}

@media(max-width:1180px) {
    .product-data {
        height: 100vh;
        margin-bottom: 40%;
        transform: translateY(0%);
        display: flex;
        flex-wrap: wrap;
    }
    .image {
        position: relative;
        width: 100%;
        height: 80vh;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .head {
        transform: translateY(110%);
        font-size: 40px;
        font-weight: 300;
    }
    .product-data .image img {
        width: 100%;
        height: 100% !important;
    }
}

@media(max-width:767px) {
    .product-data {
        margin-bottom: 100%;
    }
    *[contenteditable="true"] {
        width: 100%;
    }
    .data p,
    .details p {
        width: 100%;
    }
    .btn {
        margin-left: 0%;
    }
    .tags p {
        margin-bottom: 70px !important;
    }
}