.product-data {
    position: relative;
    transform: translateY(15%);
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.product-data .image img {
    width: 565px;
    height: 460px;
    margin-right: 150px;
}

.data h2 {
    font-size: 60px;
    font-family: serif;
    text-transform: capitalize;
    margin-bottom: 60px;
}

.data p {
    margin-bottom: 60px;
    opacity: .6;
}

.data span {
    font-size: 50px;
    text-transform: capitalize;
    padding: 100px 0;
}

.data button {
    margin: 60px 5px;
    background-color: black;
    color: white;
    padding: 10px 30px;
    border: none;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.data button:hover {
    opacity: .7;
}

.data .buy {
    background-color: var(--blue);
}

@media(max-width:767px) {
    .product-data {
        position: relative;
        transform: translateY(0%);
        margin-bottom: 150%;
    }
    .product-data .image img {
        width: 100%;
        height: 100vh;
        margin: 0;
    }
    .data {
        width: 100%;
        margin-bottom: 20px;
    }
    .add {
        display: none;
    }
}

@media(min-width:767px) and (max-width:1080px) {
    .product-data {
        margin-bottom: 50%;
    }
    .custm {
        display: flex;
        justify-content: flex-start;
        margin-left: 10%;
    }
    .add {
        display: none;
    }
}


/*details*/

.details {
    margin-top: 60px;
}

.details h2 {
    margin-bottom: 40px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.details p {
    opacity: .7;
}


/*review section*/

.add-revirw {
    margin-top: 60px;
}

.add-revirw h2 {
    font-size: 35px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-top: 130px;
    margin-bottom: 40px;
}

#headline,
#review {
    width: 100%;
    padding: 10px;
    resize: none;
    margin-bottom: 10px;
    border: 1px solid var(--blue);
    outline: var(--blue);
    height: 200px;
}

#review {
    height: 150px;
}

.add-review p {
    font-size: 15px;
    margin: 20px 0;
    opacity: .5;
    font-family: sans-serif;
}

.add-review button {
    margin: 30px 0;
    padding: 10px 30px;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    background-color: var(--blue);
    border: none;
    cursor: pointer;
}

.star {
    cursor: pointer;
}

.add-review button:hover {
    opacity: .7;
}

button {
    border-radius: 5px;
}

.sim {
    margin-top: 50px;
    font-size: 35px;
}